@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="container">
    <h3>Goal</h3>
    <p>
        The goal of this project is to minimize the paperwork and streamline inventory management for
        "oriental-rug-gallery" store in Milwaukee.
    </p>
</div>